[2016-08-05 08:29] ajdapretnar opened #1 "ImageImport and ImageEmbedding not working"
Since recent changes in Orange3, ImageAnalytics add-on is not longer working. I think it's due to fix [#1414](https://github.com/biolab/orange3/pull/1414).

[2016-08-05 12:57] ales-erjavec commented on #1
Fixed in 06ef4527dbb3c5266c1fd11845dd8b5e0fc563ed

[2016-08-10 08:16] #1 closed

[2017-02-02 10:43] inejc opened #10 "Image Embedding: add support for reading images from urls"
This is the only missing functionality that wasn't reimplemented in https://github.com/biolab/orange3-imageanalytics/pull/6 (Image Embedding rewrite).

[2017-02-02 10:45] inejc commented on #10
Can someone with sufficient permissions assign this issue to me please? @BlazZupan

[2017-02-04 12:20] inejc opened #14 "Image Embedding: handle non-RGB image modes"
When trying to convert a non-RGB image to the JPEG format the `OSError:  cannot write mode P as JPEG` is raised.

[2017-02-06 11:47] astaric opened #15 "Move connection code out of __init__"
When server cannot be reached (timeout caused by missing proxy), the widget stalls, then crashes without showing the gui.

Use singleShot timer to postpone the connection check a bit (see how file widget does that).

[2017-02-08 08:45] brylie opened #17 "Mentorship available for new developer interested in image mining?"
There is a new developer on the [Orange3 Gitter channel](https://gitter.im/biolab/orange3), named @ava23, who is interested in image mining (for astronomical research). Are there any 'low hanging fruit' type tasks that could be used as an entry point into ImageAnalytics development? Would anyone here be available as a mentor to help developers contribute?

[2017-02-13 09:11] ajdapretnar commented on #17
Perhaps @inejc can find some easy tasks for prospective students?

[2017-02-13 17:17] earthling2304 commented on #17
Hello, I am Vasudha, and I was interested in image mining for astronomical research. I would love to get started right away on any task. Thank you!

[2017-02-13 17:49] #14 closed

[2017-02-13 18:33] inejc commented on #17
Hi Vasudha. You can take a look at https://github.com/biolab/orange3-imageanalytics/issues/10. The image embedding widget can only load local images at the moment, but should be able to also load them from URLs. If you are interested in implementing this I can assign the issue to you and give some directions.

[2017-02-14 11:55] astaric opened #19 "Tag releases"
Each release published on pypi should have a corresponding tag in this repository.

[2017-02-14 12:21] ajdapretnar opened #20 "ImageNet Embedding: can't read images"
When trying to use ImageNet Embedding, I get several errors. One is surely connected to reading url files, but even when we stored images locally, I can't use ImageNet.

Error on OSX:
`AttributeError: 'str' object has no attribute 'read'`
Error on Windows & Linux:
`hyper.http20.exceptions.StreamResetError: Stream forcefully closed`

[2017-02-14 14:13] inejc commented on #20
I don't think these two are connected.

The `AttributeError: 'str' object has no attribute 'read'` should be the same as in https://github.com/biolab/orange3-imageanalytics/issues/10. I'm not sure about the second error. Could you please submit this to Sentry so I can try to replicate it?

[2017-02-14 14:59] #15 closed

[2017-02-14 19:47] earthling2304 commented on #17
Hi @inejc , yes I'll work on implementing this.

[2017-02-14 23:24] inejc commented on #20
Closing this since the issue for the first error is already opened and the second error is fixed.

[2017-02-15 07:55] brylie commented on #10
@earthling2304 thanks for your interest in contributing! Is there anything we can do to help you get started on this task?

[2017-02-15 08:15] ajdapretnar commented on #20
I don't think this is quite it.
I get `AttributeError: 'str' object has no attribute 'read'` even when I store my files locally. This is the problem. I can't do anything now on Mac.

Also, for me #22 doesn't solve anything. I am getting loads of StreamResetErrors and my images don't get embedded at all. This is on Windows.

So in essence, I can't use ImageNet Embedding anywhere.

[2017-02-15 08:24] inejc commented on #10
The image loading part is currently in the ImageEmbedder class (see the `_load_image_or_none` method). The implementation should include checking whether the path is a "local" path or a "network" path (probably with a regex). [This](http://pillow.readthedocs.io/en/3.1.x/releasenotes/2.8.0.html) should help with opening the images. Let us know if you need any help.

[2017-02-15 09:48] inejc commented on #19
I have added the tags. This can be closed if it looks ok.

[2017-02-15 10:00] astaric commented on #19
Looks good

[2017-02-15 10:00] #19 closed

[2017-02-18 12:18] earthling2304 commented on #10
Shall I use urllib to parse the url and check the scheme attribute?

[2017-02-18 17:12] inejc commented on #10
Sure, you could use `urllib.parse` instead of writing an explicit regex.

By the way, to make a contribution you should fork the repository to your own account, make a new branch for your changes and then open the pull request to the original repository from that branch. My apologies if you already know all of that, I've just noticed that you haven't forked the project yet :).

[2017-02-23 11:45] inejc commented on #10
Hey. How is this going? Do you need any help? In case you have changed your mind, please let me know so I can implement this. Thank you.

[2017-02-23 21:16] earthling2304 commented on #10
Hey, I am not sure about how I can test if my changes are working. Can you help me with that? Thank you.

[2017-02-23 21:19] earthling2304 commented on #10
Since I am new to this, I was trying to figure out things on my own. I am sorry about not asking earlier!

[2017-02-24 08:01] brylie commented on #10
@earthling2304 do you have your work in progress on Github? I can check out the code and try to run it locally.

[2017-02-25 06:31] earthling2304 commented on #10
Yes, can you please check if it's working?

[2017-02-27 08:06] brylie commented on #10
Sure, **where** can I check?

[2017-02-27 08:08] brylie commented on #10
Go ahead and open a pull request against this repository. That way we can review your work in progress, and comment directly about the proposed changes. Let me know when the PR is open, and I will continue investigating.

[2017-03-23 15:33] astaric opened #29 "Allow changing of API url"
When a ENV variable with a specific name (i.e. ORANGE_EMBEDDER_API_URL) is set, its value should override the default api url.

[2017-03-27 06:55] ajdapretnar commented on #20
Local files now work. I assume the issue was server-side. Waiting for reading html file in #26.

[2017-03-27 06:55] #20 closed

[2017-04-03 14:28] ajdapretnar commented on #10
Fixed via #31.

[2017-04-03 14:28] #10 closed

[2017-04-24 09:11] KamilBrankiewicz opened #33 "ValueError when I try to add Image Embedding"
Hi
I have some issue when I try to add Image Embedding. I have Orange version 3.4.2 and Image Analytics 0.1.5.

Exception:
[code]

Regards

[2017-04-25 11:24] #29 closed

[2017-05-05 10:25] ajdapretnar commented on #33
@inejc Do you know what could be the issue? I couldn't reproduce it on my machine (Win10).

[2017-05-12 18:27] inejc commented on #33
I wasn't able to reproduce this either. I have added a fallback (default) value for the conflicting setting however and changes are available in version 0.1.6. Any feedback would be greatly appreciated.

[2017-05-29 09:10] nikicc opened #39 "ContinuousVariables should be created with `make`"
### Issue
One cannot concatenate two data sets from `Image Embedding` widget.

### Proposed Solution
ContinuousVariables (file: `owimageembedding.py`, L185) should be made through `ContinuousVariable.make` which is reusing already existing variables.

### Steps to reproduce
Load two image data sets. Pass them through `Image Embedding` and then input them to `Concatenate`. If you select union of at

[2017-06-01 02:51] infohoon opened #42 "Image Embedding Error NOW"
Before traffic sign example is working. Now, It's not working.

Image file not found error is occurred, but image url is good.
just Image Embedding block is not working.

[2017-06-01 07:11] ajdapretnar commented on #42
I can't reproduce this. Which version of ImageAnalytics do you have?

[2017-06-07 10:02] japulickal commented on #42
Image Embedding widget is missing in the widget tray.

Orange version 3.4.2
Git version : f3076cd
OS: OS X EL Captitan (10.11.6)

Installation Log
`Collecting Orange3-ImageAnalytics
Requirement already satisfied: Orange3>=3.3.5 in /Applications/Orange3.app/Contents/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from Orange3-ImageAnalytics)
Requirement already satisfied: lock

[2017-06-07 11:01] ales-erjavec commented on #42
The error causing this is:
[code]

Ultimately this is caused by pip not having a proper dependency resolver.

[2017-06-09 13:27] jerneju opened #45 "Image Embedding: crashes when nothing in dropdown"
##### Orange version
master

##### Image Analytics version
0.1.7

##### Expected behavior
Does not crash.

##### Actual behavior
![screenshot_20170609_152511](https://user-images.githubusercontent.com/22157215/26977417-194a88c4-4d28-11e7-8a77-bdb3511ea357.png)

##### Steps to reproduce the behavior
See a screenshot above.

##### Additional info (worksheets, data, screenshots, ...)

[2017-06-09 13:28] jerneju commented on #45
https://sentry.io/biolab/orange3-imageanalytics/issues/290587305/

[2017-06-14 13:05] #39 closed

[2017-06-14 16:37] bernardofn commented on #45
Today, I tried to install the widget Image Analytics, and it is not appearing in the left menu.

[2017-06-19 16:46] ph4nie commented on #42
Hi,
I also have a problem with Image Embedding widget. When I input images from the Import Images widget (which seems to work), the second block shows a warning sign, and say 'click Apply to try again'.

Any ideas to solve this ? Thanks !

[2017-06-19 17:48] inejc commented on #42
@ph4nie the warning sign indicates that there are problems with server connection. Make sure you are connected to the internet when using the Image Embedding widget. If that's not the problem, please tell us which version of the add-on you are using and attach the logs (click on **View -> Log**).

[2017-06-19 17:59] inejc commented on #45
@bernardofn see https://github.com/biolab/orange3-imageanalytics/issues/42#issuecomment-306761945.

[2017-06-20 08:05] ph4nie commented on #42
My internet connection works fine for every other task.
I'm using  Image Analytics add-on version 0.1.7
Here is the log I get :
Error when disconnecting from server
Traceback (most recent call last):
  File "C:\Python34\lib\site-packages\orangecontrib\imageanalytics\http2_client.py", line 90, in _send_request
    headers=headers
  File "C:\Python34\lib\site-packages\hyper\http20\connection.py", li

[2017-06-21 11:41] inejc opened #50 "Image Embedding: ConnectionAbortedError on Windows"
**ConnectionAbortedError: [WinError 10053] An established connection was aborted by the software in your host machine**

Here is the log I get :

[code]

[2017-06-21 11:43] inejc commented on #42
@ph4nie I have opened a separate issue, see https://github.com/biolab/orange3-imageanalytics/issues/50.

[2017-06-21 17:45] #45 closed

[2017-07-05 13:37] ajdapretnar opened #51 "ImageEmbedding: Issue warning when images skipped"
It would be nice (and useful) to receive a warning, when images are skipped for embedding. It could be already in the infobox, e.g.:
_Embedded: 23/30_
or
_7 images skipped_
or
a traditional warning.
Also since when is TIFF not supported? I am getting a silent ignore of tiff, but everything works on jpeg.

[2017-08-04 13:20] inejc commented on #51
Opened a PR regarding the skipped images warning. TIFF works for me (tried 50 images with all embedders), perhaps a different issue?

[2017-08-10 08:03] bernardofn opened #54 "Installing Image analytics gives an error message"
Orange 3.4.1 launched from Anaconda navigator

**Expected behaviour:**
Install Image Analytics

**Actual:**
gives an error message (see screenshot and text below).

![image](https://user-images.githubusercontent.com/29437665/29160528-dd22ee7a-7db2-11e7-9274-b24028633a38.png)

**Error message**
[code]

[2017-08-10 09:00] inejc commented on #54
Try updating pip to the latest version and setuptools to 35.0.2 (see https://github.com/pypa/setuptools/issues/885).

[2017-08-10 12:27] jerneju commented on #54
Same error as this one https://github.com/biolab/orange3-text/issues/307 .

[2017-08-24 13:41] ajdapretnar opened #57 "Implement ImportImages as scripting"
I'm trying to use Image Analytics in the scripting part and I've just realized one can only import images through GUI. Would it be possible to separate the function for reading images and constructing Orange.data.Table from the widget?

e.g.
from orangecontrib.imageanalytics.images_from_file import ImportImages
images = ImportImages("../path")

[2017-08-24 13:48] jerneju commented on #57
Sure. Something like **Import Documents**, right?

[2017-08-24 13:49] ajdapretnar commented on #57
Exactly.

[2017-08-28 12:28] #51 closed

[2017-08-28 12:28] ajdapretnar commented on #51
Closed via #53.

[2017-08-28 12:33] ajdapretnar opened #59 "Improve scripting for ImageEmbedder"
##### Image Analytics version

0.1.7

##### Orange version

3.5.dev

##### Expected behavior
One can call ImageEmbedder and pass Orange.data.Table as a parameter. ImEm then returns a data table with additional features.

##### Actual behavior
ImageEmbedder can be called only with a list of paths to images and it returns an array of arrays.

##### Additional info (worksheets, data, screenshots, ...

[2017-09-07 14:21] #54 closed

[2017-09-07 14:25] ajdapretnar opened #61 "ImageEmbedder forcefully closes stream"
##### Image Analytics version

0.1.7

##### Orange version

3.5.0

##### Expected behavior
ImageEmbedding does not report any errors.

##### Actual behavior
IE continually reports Stream forcefully closed.

##### Steps to reproduce the behavior
Embed images in scripting or see console log.

##### Additional info (worksheets, data, screenshots, ...)

Traceback (most recent call last):
  File "/User

[2017-09-20 12:05] #57 closed

[2017-10-06 02:15] ThirstyGeo opened #64 "ImageEmbedder - Memory Error"
**Orange version**
3.6.0

**Expected behavior**
Widget completes processing

**Actual behavior**
Widget gets to ~80% and fails due to a Memory Error

**Steps to reproduce the behavior**
Load a 'moderately sized' directory of images

**Additional info (worksheets, data, screenshots, ...)**
1830 images, 307MB total.

Computer is running:
Windows 10 Pro
Intel i7-6700K CPU @ 4GHz
64 GB RAM total (62 G

[2017-10-06 08:01] kernc commented on #64
Can you provide a full backtrace (the error message that begins with `Traceback` and ends with `MemoryError` line).

[2017-10-06 09:43] #59 closed

[2017-11-10 14:00] PrimozGodec commented on #61
This error is solved in https://github.com/biolab/orange3-imageanalytics/pull/66

[2017-11-10 14:05] PrimozGodec commented on #17
I think it can be closed due to inactivity.

[2017-11-10 14:05] #17 closed

[2017-11-10 14:05] kernc commented on #61
So this can be closed?

[2017-11-10 14:05] #61 closed

[2017-11-10 14:06] PrimozGodec commented on #33
Anything new on this bug?

[2017-11-10 14:16] PrimozGodec commented on #64
I think it is solved in https://github.com/biolab/orange3-imageanalytics/pull/66.
If it is not feel free to reopen the issue with more informations.

[2017-11-10 14:16] #64 closed

[2017-11-17 12:58] PrimozGodec commented on #33
Closing since no additional informations and cannot reproduce. You are welcome to reopen it with some additional informations.

[2017-11-17 12:58] #33 closed

[2017-12-19 13:41] ajdapretnar opened #74 "[doc] Image Embedding"
##### Image Analytics version

0.1.12

##### Orange version

3.9.dev

##### Expected behavior
Image Embedding documentation explains what each embedder does and provides visual guidelines on how to use the widget (example).

##### Actual behavior
Documentation not clear.

[2017-12-19 15:51] ajdapretnar opened #75 "Remote images can't be embedded"
##### Image Analytics version

0.1.12

##### Orange version

3.9.dev

##### Expected behavior
Orange enables displaying images from the urls with Image Viewer. One should be able to embed these images as well.

##### Actual behavior
Images with url paths cannot be embedded. Once they are stored locally, embeddings work.

[2017-12-29 09:55] #74 closed

[2018-01-02 16:13] Pearapon opened #80 "Got the error while trying to add-on "Image Analytics"""
##### Image Analytics version

Got the error while trying to add-on "Image Analytics"". I am using "Windows 10 pro" 64 bits. Orange is installed with "Orange 3.8"

##### Orange version

##### Expected behavior

##### Actual behavior

##### Steps to reproduce the behavior
This is error detail
Collecting Orange3-ImageAnalytics
  Using cached Orange3-ImageAnalytics-0.1.13.tar.gz
Requirement already s

[2018-01-03 15:04] PrimozGodec commented on #80
It can be solved installing `Microsoft Visual C++` on your machine.

@janhartman is there any option to use the `lap` package without having `Microsoft Visual C++` installed or use any other package in the `ImageGrid` widget instead.

[2018-01-03 16:40] ajdapretnar commented on #80
I think we should make _lap_ for now an optional dependency and have Win users missing Image Grid instead of not being able to install Image Analytics at all.
Also, could it be installed with conda?

[2018-01-03 17:13] PrimozGodec commented on #80
@ajdapretnar I agree with you. We need to make it work as soon as possible.
@janhartman Can you find the solution for that?

[2018-01-04 09:45] astaric opened #83 "Provide conda binaries"
Ref #80

A conda package (on conda-forge) would allow windows users to use all the widgets. New recipes are added to the conda-forge by opening a pull request to the [staged recipes repository](https://github.com/conda-forge/staged-recipes/).

For inspiration, see existing conda recipes for other add-ons.
https://github.com/conda-forge/orange3-text-feedstock/blob/master/recipe/meta.yaml
https://gi

[2018-01-04 19:04] janhartman commented on #80
The issue has been fixed in #84 -  I removed the problematic package.

[2018-01-05 10:26] #75 closed

[2018-01-05 12:47] PrimozGodec commented on #83
https://github.com/conda-forge/staged-recipes/pull/4737

[2018-01-06 12:35] kernc commented on #80
xref: https://stackoverflow.com/questions/48109216/in-installing-orange-imageanalytics

[2018-01-07 22:23] janhartman commented on #80
I apologize for all the trouble this has caused. I did not realize the `lap` package would be so problematic on Windows - the package's Appveyor builds run fine on Windows, and I have only tried installing it on Linux. I hope the situation is now resolved in #84.

[2018-01-08 08:26] #80 closed

[2018-01-20 09:47] PrimozGodec commented on #83
Done, so closing this issue.

[2018-01-20 09:47] #83 closed

[2018-01-20 09:52] PrimozGodec opened #85 "Error in setting the progress"
##### Image Analytics version

0.1.14

##### Orange version

3.9_dev

##### Expected behavior

Setting the progress without error.

##### Actual behavior

Error occurs when setting the progress. Probably overflow of the percentage happens in last few images.

##### Steps to reproduce the behavior

Run embedders on large set of images

##### Additional info (worksheets, data, screenshots, ...)

Tra

[2018-01-24 10:48] guimby opened #87 "image embedding widget is lacking"
##### Image Analytics version
0.1.15

##### Orange version
3.8.0

##### Expected behavior
image embedding widget can be see and used

##### Actual behavior
image embedding widget can't be find from the left menu nor with a search from a new link

##### Steps to reproduce the behavior

##### Additional info (worksheets, data, screenshots, ...)
![image](https://user-images.githubusercontent.com/3576

[2018-01-24 10:53] ajdapretnar commented on #87
@guimby Thanks for reporting this. Could you please also specify how you installed Orange and add-on?
Is it a Miniconda version of Orange? Or standard one? Did you install the add-on via Options - Add-ons?

[2018-01-24 10:57] PrimozGodec commented on #87
@guimby If you installed add-on via Options - Add-ons, can you check if `Install add-ons with conda` is checked in Options - Settings - Add-ons.

[2018-02-01 10:22] f-rumblefish commented on #87
Dear all:

I have the same problem of missing the "image embedding" widget under Orange3 3.8.0 and Orange3-ImageAnalytics 0.1.15 on Windows 10.

Several months ago, I had installed Anaconda on my desktop. Orange was inside the Anaconda and Image Analytsics 0.1.12 (with "image embedding") was fine. This week I notice that the "image embedding" widget is gone (while I am not sure if my Anaconda conf

[2018-02-13 16:25] ajdapretnar opened #89 "Image Grid: Colors don't correspond to the core Orange colors"
##### Image Analytics version

0.1.15

##### Orange version

3.10.dev

##### Expected behavior
Colors in Image Grid (when selecting groups) and coloring in MDS correspond.

##### Actual behavior
Image Grid colors groups with 1 value off the official coloring in Orange.

##### Steps to reproduce the behavior
Select image groups in Image Grid, connect MDS and color by Group.

##### Additional info (

[2018-02-14 11:52] PrimozGodec commented on #89
@janhartman can you check that?

[2018-02-14 11:56] janhartman commented on #89
Weird - I used the same colors as Scatter Plot as I was instructed. I can check this weekend.

[2018-02-14 14:26] ajdapretnar commented on #89
It could be just indexing?

[2018-02-14 14:35] astaric commented on #89
@ajdapretnar, try doing multiple selection in scatterplot and show it in another scatter plot. It exhibits the same behavior

[2018-02-14 14:37] astaric commented on #89
<img width="929" alt="screen shot 2018-02-14 at 15 36 04" src="https://user-images.githubusercontent.com/588601/36209734-de604a84-119c-11e8-87af-eab3a79d8741.png">

[2018-02-27 10:28] ajdapretnar opened #91 "Image Viewer: Add Data output"
##### Image Analytics version

0.1.16

##### Orange version

3.10.dev

##### Expected behavior
Image Analytics has two outputs:
Selected Data (or rather Selected Images)
Data (which appends an extra column with information whether an instance was selected, just like in Scatter Plot)

##### Actual behavior
Image Viewer has only Data output, which outputs selected images.

##### Steps to reproduce t

[2018-03-06 08:10] #91 closed

[2018-03-06 11:58] gvkalra opened #96 "Mis-matching value of image embeddings between keras and orange"
Hi,

Thanks for a beautiful software!

I am having problems with obtaining same values
of Image Embeddings in Orange as reported by Keras.

##### Image Analytics version
0.1.16

##### Orange version
3.10.0.dev0+f05be54

##### Expected behavior
Image embeddings in Orange should match results in Keras

##### Actual behavior
Mis-matching value of image embeddings

##### Steps to reproduce the behavio

[2018-03-06 11:59] gvkalra commented on #96
CC/ @minhresl

[2018-03-08 07:49] PrimozGodec commented on #96
On [fchollet/deep-learning-models](https://github.com/fchollet/deep-learning-models), repository where Keras weights are available, I found this, `The Inception v3 weights are trained by ourselves and are released under the MIT license`, while we are using [Tensorflow weights](http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz).

I think since weights are retrieved from

[2018-03-12 05:04] gvkalra commented on #96
Thanks! Although I can't verify it now, the reason seems to be legit.

[2018-03-12 05:04] #96 closed

[2018-03-12 11:27] PrimozGodec commented on #87
I still cannot reproduce this bug. As you described all your errors happen when using `pip`. Can you check `Install add-ons with conda` property and try to install again since new Conda builds are available?

[2018-04-10 08:03] ndkazu commented on #50
Hello,
I am using orange 3.11 on windows7, and I have the same issue. Anything new?
Kazu

[2018-04-10 08:29] ndkazu commented on #50
Hello,
I am using version 0.2.0 of the add-on. I don't know if this is related, but i get the following error message every times I start Orange3
`C:\ProgramData\Anaconda2\envs\Pyt3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
from pandas.core i

[2018-04-10 08:35] PrimozGodec commented on #50
Ok, I will take a close look at the issue. @ndkazu can I just ask you to copy the complete error message when the issue occurs.

[2018-04-10 08:46] ndkazu commented on #50
Hello,

I am sending the complete error:

`
(C:\ProgramData\Anaconda2\envs\Pyt3) C:\Users\2114122>orange-canvas
QWidget::setWindowModified: The window title does not contain a '[*]' placeholde
r
An error occurred while fetching help inventory 'PyQt5.QtCore.QUrl('https://docs
.orange.biolab.si/3/visual-programming/')'
Remote server not reachable
Traceback (most recent call last):
  File "C:\Program

[2018-04-11 16:52] BlazZupan commented on #50
Are you behind the firewall and are using proxy to access the internet?

[2018-04-12 00:40] ndkazu commented on #50
Hello,
Yes I am behind a firewall using a proxy.

[2018-04-12 06:25] PrimozGodec commented on #50
After the upgrade of Hyper library, we made last week there is an option to support proxies. Done in https://github.com/biolab/orange3-imageanalytics/pull/101

[2018-04-12 06:27] PrimozGodec commented on #87
Closing due to inactivity. You are welcome to reopen it if the bug still present.

[2018-04-12 06:28] PrimozGodec commented on #85
Fixed in https://github.com/biolab/orange3-imageanalytics/pull/97

[2018-04-12 06:28] #85 closed

[2018-04-12 06:31] PrimozGodec commented on #42
I am closing this issue due to inactivity. I also think that bug should go since the library that manages connections was updated https://github.com/biolab/orange3-imageanalytics/pull/97. I bug still exist you are welcome to reopen the issue.

[2018-04-12 06:31] #42 closed

[2018-04-17 01:50] ndkazu commented on #50
Hello,
Is there any progress concerning this issue?
Thanks
Kazu

[2018-04-18 08:38] PrimozGodec commented on #50
Hello, the fix is made https://github.com/biolab/orange3-imageanalytics/pull/101 but is waiting for a test. Sorry for the delay, we really want to make sure it 100% work before we release it.

If you need the fix urgently you can download the fixed version from the pull request https://github.com/biolab/orange3-imageanalytics/pull/101 and install it manually.

[2018-04-19 03:57] ndkazu commented on #50
Thank you for your answer. I will wait for the end of the testing phase.

Kazu

[2018-04-23 08:48] ajdapretnar opened #102 "Import Images: Find data if in the same folder as workflow"
##### Image Analytics version

0.2.0

##### Orange version

3.14.dev

##### Expected behavior
When opening an Orange image analytics workflow, Import Images is able to find images, if placed in the same folder as workflow.

##### Actual behavior
Import Images doesn't find any images, have to load them manually.

##### Steps to reproduce the behavior
File widget already supports relative paths for

[2018-05-02 14:18] umendi commented on #87
Can this issue be reopened? I am experiencing the same here:

MacOS 10.9.5
I updated Orange from 3.5 to current 3.13 (due to the add-ons issue solved on Apr.23rd) by downloading the DMG package and replacing the old version.

Due to a previously solved python compatibility issue I had because of my MacOS version, I executed the following command:
/Applications/Orange3.app/Contents/MacOS/pip instal

[2018-05-03 05:39] PrimozGodec commented on #87
@umendi Thank you for reporting the issue.

Can you please execute following command:

    /Applications/Orange3.app/Contents/MacOS/pip freeze

and copy the output here to see if there is an issue with dependencies.

[2018-05-04 05:50] PrimozGodec commented on #50
Hello @ndkazu ,

the proxy fix is now merged in master. Until the release is made you can install the fixed version from the master of this repository. The instructions for installing from the repository are available here https://github.com/biolab/orange3-imageanalytics/blob/master/README.md

If you still have issues with proxies please let us know.

[2018-05-04 07:34] umendi commented on #87
Thanks for the reply. This is the result:

Last login: Fri May  4 00:08:34 on console
apples-MacBook-Pro:~ apple$ /Applications/Orange3.app/Contents/MacOS/pip freeze
AnyQt==0.0.8
attrs==17.4.0
beautifulsoup4==4.6.0
biopython==1.71
boto==2.48.0
boto3==1.7.11
botocore==1.10.11
Bottleneck==1.2.0
brotlipy==0.7.0
bz2file==0.98
CacheControl==0.12.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
CommonMa

[2018-05-06 13:03] joaoalves12 commented on #87
Iam facing the same problem too by downloading the DMG package.
MacOS 10.11.6
Orange 3.13
Image Analytics 0.2.0

[2018-05-08 06:00] ndkazu commented on #50
Hello,
I downloaded the modified plugin and gave it a try. unfortunately i got the error bellow:

`Remote server not reachable
Traceback (most recent call last):
  File "C:\Anaconda2\envs\orange3\lib\site-packages\orangecontrib\imageanalytics\http2_client.py", line 76, in _server_ping_successful
    self._server_connection.ping(bytes(8))
  File "C:\Anaconda2\envs\orange3\lib\site-packages\hypertem

[2018-05-08 06:08] PrimozGodec commented on #50
Is your operating system recognizing the proxy or is it set manually? Orange uses the system proxy settings.
Can you test if datasets widget works for you (if it works you have proper proxy settings)?

[2018-05-08 06:31] ndkazu commented on #50
Hello,
datasets widget is working as expected:
![image](https://user-images.githubusercontent.com/33208377/39741419-d3e19da0-52d4-11e8-99da-2588f78d08b8.png)

I have the following environment variables for the proxy:
HTTP_PROXY, and HTTPS_PROXY.
they allow me to dowload files and using PIP and Conda from the command prompt without entering credential. additionally in Orange3-->settings-->Network,

[2018-05-11 06:04] PrimozGodec commented on #87
@umendi and @joaoalves12: Since I still can not reproduce the error I ask you if you can please run

    /Applications/Orange3.app/Contents/MacOS/Orange -l 4

from the terminal and report the output you get in the command line when Orange is set up here. It should show us the reason for missing widget.

[2018-05-11 09:13] PrimozGodec commented on #50
@ndkazu I will try to source the issue. Can you just let me know how your proxy URL looks like since right now I can not source the issue? Embedders works fine on our test proxy.
Is it IP e.g. http://100.100.100.100 or domain e.g. http://example.net

[2018-05-11 09:15] umendi commented on #87
Thanks for your reply and follow up @PrimozGodec

I executed the command and it opened Orange. The output in the terminal I got is as follows:

[code]

[2018-05-11 09:40] PrimozGodec commented on #87
@umendi it seems that there is an issue with the newest version of Pillow package. Can you just downgrade the version and let me know if it works for you:

    /Applications/Orange3.app/Contents/MacOS/pip install Pillow==5.0.0

[2018-05-11 11:43] PrimozGodec commented on #87
@umendi thank you for your help.
The issue is now fixed in this pull request https://github.com/biolab/orange3-imageanalytics/pull/106

[2018-05-11 11:51] #87 closed

[2018-05-11 12:17] joaoalves12 commented on #87
Well done @PrimozGodec! Thank you

[2018-05-15 00:40] ndkazu commented on #50
Hello,
my proxy URL is an IP type: http://100.100.100.100

[2018-07-09 14:48] ajdapretnar commented on #89
Fixed in #107.

[2018-07-09 14:48] #89 closed

[2018-07-09 14:55] ajdapretnar opened #108 "ImageGrid: selection bug"
##### Image Analytics version

0.2.1.

##### Orange version

3.15.dev

##### Expected behavior
ImageGrid outputs correct data table showing which image was selected.

##### Actual behavior
The first two images are marked as Selected, always.

##### Steps to reproduce the behavior
Use ImageGrid with any data set (say domestic animals).
Select an image.
Observe Images output in a Data Table.
The fir

[2018-07-24 08:59] #108 closed

[2018-07-25 09:18] ajdapretnar opened #110 "Slow Image Viewer"
##### Orange version
3.4.2

##### Expected behavior
Optimize image loading or memory resources

##### Actual behavior
I have a dataset of ~5000 images. It's not such a large number, but after connecting data to it, it turns really slow.

Also, if I remove the image viewer it seems like memory used for images isn't get released.

[2018-09-06 10:36] ajdapretnar opened #112 "Image Embedding: extend data instead of copy"
##### Image Analytics version

0.2.1

##### Orange version

3.16.dev

##### Expected behavior
If Image Embedding receives Corpus object, it should return Corpus object.

##### Actual behavior
Image Embedding returns Orange.data.Table.

##### Steps to reproduce the behavior
<img width="512" alt="screen shot 2018-09-06 at 12 35 40" src="https://user-images.githubusercontent.com/12524972/45152468-61a

[2018-09-08 00:06] salvatoreloguercio opened #113 "[enhancement request] Labels on Image grid"
Hello! I was wondering if labels could be visualized on images in the image grid tool in Image Analytics? See pic attached.

I know, this feature might be not terribly useful for images in general, hence unlikely to be deployed in Orange. How hard it would be to modify image_grid.py in order to display such image names? Any pointers would be useful.

I am asking because my fellow biologists would

[2018-09-26 18:05] salvatoreloguercio commented on #113
Bump - any feedback on this?

[2018-09-27 06:45] ajdapretnar commented on #113
Perhaps something @janhartman or @PrimozGodec could implement? It should probably work with 'Label only selected images', like in Scatter Plot. Or would tooltips be a better solution, @salvatoreloguercio? Do you need this for report or for inspection?

[2019-01-04 12:58] #102 closed

[2019-01-23 19:57] salvatoreloguercio commented on #113
@ajdapretnar sorry I missed this.. Yes something along the lines of 'Label selected images' like in Scatterplot would be useful. This would be for report more than inspection (if you hover on the images you already see a tooltip showing the image path). The use case is to generate labeled figures for grants/publications, so solid labels would be nice.

[2019-07-01 23:54] DataGeo opened #129 "Import Images widget - fails to load new set of images"
##### Image Analytics version
0.3.0

##### Orange version
3.22.0

##### Expected behavior
Use file navigation button to navigate to new folder (as apposed to location of images used in previous project, which comes up as default).

##### Actual behavior
Unable to change to new folder location - error message come up

##### Steps to reproduce the behavior
Start new project
drag import images widget

[2019-07-09 18:45] jhonecley commented on #129
Same here. Same version of add-on and Orange
![Error](https://user-images.githubusercontent.com/52609307/60914670-62396700-a260-11e9-968e-c29d22f020db.png)

[2019-07-10 07:16] ajdapretnar commented on #129
@PrimozGodec Perhaps it is as simple as cleaning the stdin and stdout? https://github.com/niosus/EasyClangComplete/commit/0cd7d7215218955ea18d20764371862fa0bfa576

[2019-07-10 07:58] PrimozGodec commented on #129
I already reproduced the issue and will try to fix it ASAP.

[2019-07-10 09:01] PrimozGodec commented on #129
It was already fixed in https://github.com/biolab/orange3-imageanalytics/pull/127. Just release is required. Will be available soon.

[2019-07-10 09:10] DataGeo commented on #129
I found another fix, if you go to Options/Reset Widgets Settings, this will remove previous stored path.

[2019-07-10 10:11] PrimozGodec commented on #129
@DataGeo and @jhonecley new version of Orange3-imageanalytics with the fix of this error is released. Please reinstall the addon in Options>Add-ons menu and it should work.

Thank you for your contribution.

[2019-07-10 10:11] PrimozGodec commented on #129
I am closing this issue. If it is still not working feel free to reopen it.

[2019-07-10 10:11] #129 closed

[2019-07-12 07:41] BlazZupan opened #132 "Save Images"
It would be great if we could have a widget for saving images. The widget would take Data Table (Data) on input and would create a directory and possibly subdirectories for classes to save the images.

The widget would behave like Save widget, but would also need to include the "Scale images" option (default:true) to scale images to reduce the size and match the format for deep learning-based embe

[2019-08-22 13:17] matjazp opened #146 "Hyper alternative"
Just stumbled on this interesting stuff: https://github.com/encode/httpx. We could test it as a replacement for now unmaintained Hyper...

Thoughts?

[2019-08-23 08:14] PrimozGodec commented on #113
It is now implemented in #136

[2019-08-23 08:14] #113 closed

[2019-08-23 10:02] PrimozGodec commented on #146
I think using this library is a good idea. It looks well maintained. Also, based on documentation it has all the features that we need.

We can use parallel requst, similarly than it is done with Hyper now:

    with httpx.parallel() as parallel:
        for counter in range(1, 10):
            parallel.get(f'https://example.com/{counter}')
        while parallel.has_pending_responses:

[2019-08-23 13:09] PrimozGodec commented on #110
@ales-erjavec do you have any idea how to make Image Viewer faster?

[2019-09-14 23:12] matjazp opened #148 "Resending requests in batches >= 1000"
I've been testing a new version of the backend. There seems to be a problem with sending more than 999 images.

Sending 1000 images throws an exception and the last 100+ reqs in a last "minibatch" (up to http2 max_concurrent_streams, usually 128) is sent again (seen in logs as retry=1).

[code]

Everything is OK when batch is 999:

[code]

But even if I send 2 or even 4 **parallel** connections wi

[2019-09-23 09:53] PrimozGodec commented on #132
Closing via #133

[2019-09-23 09:53] #132 closed

[2019-09-23 09:54] PrimozGodec commented on #110
Closing via #147

[2019-09-23 09:54] #110 closed

[2019-09-23 14:19] PrimozGodec commented on #148
@matjazp it is a good finding. I knew it is happening but I didn't know that it is so predictive (every 1000 requests). I am still waiting for httpx parallel requests to be implemented https://github.com/encode/httpx/pull/52 before a switch to httpx. If it is not gonna happen soon I implement automatic reconnect after 999 images.

[2019-09-23 16:00] matjazp commented on #148
If this is a new feature for httpx, we should test it thoroughly before using it in production. Low hanging fruit is to just send pics in batches of 999. This should be fairly simple change, yes? I vote for implementation as soon as possible, as now this always sends extra load over network...

[2019-09-23 16:20] matjazp commented on #148
also look at the debate at https://github.com/encode/httpx/issues/258

[2019-10-01 01:06] asrichardson821 commented on #50
Does anyone know what InceptionV3 module code is being executed on the "remote server"? It appears to be a black box, that you cannot verify. Cannot find any detail like this on Orange site.

I am assuming the Image Embedding node is referencing this TF module: https://tfhub.dev/google/tf2-preview/inception_v3/feature_vector/3

Please advise, thanks.

[2019-10-11 09:20] #148 closed

[2019-10-15 16:45] PrimozGodec commented on #50
Sorry for the late answer. We are currently running this model http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz of inception V3 embedder. At this link is the simple example of use of this model https://github.com/tensorflow/models/blob/1af55e018eebce03fb61bba9959a04672536107d/tutorials/image/imagenet/classify_image.py

Note: We adapted the model such that we retrieve t

[2019-10-15 16:46] #50 closed

[2019-10-16 08:54] ajdapretnar commented on #50
I added explanation to the docs in #153.

[2019-10-17 15:44] PrimozGodec opened #156 "Import Images: widget should not load any images on opening the saved workflow if they are not provided"
##### Expected behavior
When opening the workflow from the file Import Images widget should load images if they are available or it should not load any image when they do not come together with the workflow.

##### Actual behavior
Widgets loads images when they are available but it loads different images from user's history when images from the workflow do not exist.

##### Steps to reproduce the

[2019-10-18 09:01] PrimozGodec commented on #156
@ajdapretnar I actually cannot reproduce that issue. In my case when I open an empty workflow a use Import Images it opens the last used directory (which is correct), but when I open the workflow from https://github.com/biolab/orange3/issues/4108 it does not load any images (which is correct too).

[2019-10-18 10:27] ajdapretnar commented on #156
You are right. I don't know what I saw yesterday. It looked like Import Images opened the previous folder instead. Closing.

[2019-10-18 10:27] #156 closed

[2019-11-15 14:43] PrimozGodec opened #166 "Image Grid should check whether a data subset match"
##### Expected behavior

Image Grid should correctly check whether data in the subset match to those in a dataset.
I suggest checking whether the image name is the same in the subset.

##### Actual behavior
The wrong condition was removed in #164.

[2019-11-15 14:50] ajdapretnar commented on #166
Fixed via #165.

[2019-11-15 14:51] ajdapretnar opened #167 "Write tests: Image Embedding and Image Grid"
After #163 and #165, we should write tests to check such behavior doesn't happen again. This is just a reminder.

[2019-11-15 15:12] PrimozGodec commented on #166
This one is not fixed yet. The better condition still need to be made. :)

[2019-11-15 17:08] PrimozGodec commented on #167
Tests for  #165 are in #168, those for #163 will follow soon.

[2019-11-18 09:29] ajdapretnar opened #169 "Image Analytics: issue installing on Windows"
##### Image Analytics version
0.4.0 - 0.4.1

##### Orange version
3.23.1

##### Expected behavior
Image Analytics installs ok.

##### Actual behavior
Image Analytics fails.

##### Steps to reproduce the behavior
Windows 10.

##### Additional info (worksheets, data, screenshots, ...)
[code]

[2019-11-18 09:39] #166 closed

[2019-11-18 09:47] PrimozGodec commented on #169
It is probably not an ImageAnalytics issue, but it is strange anyway. I do not understand why access should be denied when installing in the local environment. What happens when you install any other package Orange3-text or any other?

[2019-11-18 10:22] #167 closed

[2019-11-18 10:33] ajdapretnar commented on #169
I'll check. I was just rushing to write this down during a workshop. :)

[2019-11-18 10:52] ajdapretnar commented on #169
Does not happen on Text.

[2019-11-18 11:03] ajdapretnar commented on #169
Seems related to Pillow dependency, hence why it doesn't appear elsewhere: https://stackoverflow.com/questions/54240560/environment-error-while-trying-to-install-pillow-for-python-on-my-mac

[2019-11-18 13:50] PrimozGodec commented on #169
This seems strange. From the error message, it is visible that the installation process wants to write to `'c:\\users\\biolab\\appdata\\local\\orange\\lib\\site-packages\\~il\\` which should not be protected - in this canes Orange is installed locally (just for me). And I do not have any Windows machine where I could reproduce the error. :(
The error described in the link you provided shows the ot

[2019-11-20 12:41] ajdapretnar commented on #169
I tried this on our lab Win machines and the behaviour is the same. Orange is installed with standard installer and I tried installing ImageAnalytics with Options - Add-ons. Nothing out of the ordinary. I don't understand why everything installs normally but this one.

[2019-12-08 17:56] PrimozGodec commented on #169
This issue looks weird. It only happens when updating image-analytics addon with Orange (from addon dialog). I tried to run the same command that Orange do in the same environment and everything was OK. Then I tried to write a Python script that uses `subprocess.Popen` with exactly the same arguments that Orange uses and the error didn't happen again. I was able to reproduce it only with Orange ad

[2019-12-09 15:55] ales-erjavec commented on #169
I am assuming this is a standard pip's inability to replace pyd/exe files that are loaded/used by another process.

To duplicate it all I need to do is have a second python interpreter running (from the same env) that has `PIL.Image` imported.

[2019-12-10 09:33] PrimozGodec commented on #169
@ales-erjavec so there is no way to fix it right?

[2019-12-23 04:20] NUSTemple opened #173 "use server embedder (inception v3 etc) models offline"
##### Image Analytics version

0.4.1

##### Orange version

3.23.1

##### Expected behavior
Server models like inception v3, VGG-19 can be used offline

##### Actual behavior
My computer is configured with proxy and cannot access api.garaza.io:443. Hence I cannot dowload required models.

##### Steps to reproduce the behavior

##### Additional info (worksheets, data, screenshots, ...)
![image](htt

[2019-12-23 07:55] ajdapretnar commented on #173
I must admit, I don't understand the issue fully.
First, server model's *can't* be used offline. They're server-based, it's in their nature.
Second, you must set your proxy settings correctly. You can do that in Options - Settings - Networks.
Alternatively, please better explain the issue.

[2019-12-23 10:01] PrimozGodec commented on #173
Other embedders cannot be local since they are too slow. At the server, they run in parallel. Since we wanted to provide an option for users for not sending images to the server there is SqueezeNet implementation that runs locally (and performs well).

We are also aware that there is a problem with accessing our server through the proxy (even proxy server is correctly set up with Orange). It happe

[2019-12-23 15:24] NUSTemple commented on #173
Thanks both for the reply. Appreciate that help. I am now using orange behind the proxy and currently api.garaza.io is blocked. Instead, we have a standalone GPU cluster which can be used to train the model itself. Thinking whether we can make this url as a configuration input and we can put our own server name there. Thanks.

[2019-12-23 15:38] PrimozGodec commented on #173
It is actually implemented already here: https://github.com/biolab/orange3-imageanalytics/pull/114 It is not merged since we didn't have an opportunity to test it properly. If you want to use it pull this pull request. The server needs to be configured such that it responds to the request (image) with a vector of embeddings.

[2019-12-24 10:45] PrimozGodec commented on #173
We will merge this PR with the custom server settings in master when we finish the transition to httpx.

[2020-01-06 13:33] ales-erjavec commented on #169
This can only be fixed in pip.

Although somewhat misleading the installation/upgrade did in-fact succeed. The error happens in temporary backup cleanup after pip already moved all files into proper place, it just does not distinguish OS errors from the installation and its temp backup directory cleanup.

[2020-01-07 15:41] PrimozGodec commented on #169
Thank you @ales-erjavec then I am closing this issue.

[2020-01-07 15:41] #169 closed

[2020-02-05 09:04] #146 closed

[2020-03-06 21:46] PascaleUdeM opened #177 "Where is the Import button for text-ming?"
Orange version: 3.24

Hi! I downloaded the text-mining add-on. But in the text-mining zone, there is no Import document button like I saw in the tutorial on YouTube. Could you help me? I want to import some PDF documents.
I work on Windows 10 with Orange version 3.24.
![textemining-issue](https://user-images.githubusercontent.com/61889980/76125050-fdd6cf00-5fc9-11ea-96ff-09bfc139a470.jpg)

[2020-03-19 15:18] PrimozGodec commented on #177
Sorry for the delay. This issue is more suitable to [text addon](https://github.com/biolab/orange3-text).
Can you please move this widget there?

Besides, I would also ask if you can run orange with Command line:
1. Go to place where Orange is installed. By default, it is `C:\Users\<you username>\AppData\Local\Orange`
2. Click Orange Debug
3. When Orange opens copy test from the Command Line and p

[2020-04-08 15:12] redraw opened #178 "Color Distance widget"
##### Image Analytics version
0.4.1

##### Orange version
3.24.1

This is not a bug, but a possible feature. It would be nice to visualize images by color. I was about to try with the Python Script widget, and sklearn or reading the Orange API doc, but maybe it would be helpful having a widget for that.

Maybe I am missing a way I can currently achieve that with the current widgets?

[2020-04-11 22:03] redraw commented on #178
Just testing. After reading the docs, tried to expose resized image pixels, so 30x30 x3 (RGB) = 2700 new features. But these aren't exactly embeddings, just RGB values.

[code]

I guess I could try applying k-means or something? I haven't took a time to really think about it yet.

[2020-04-16 10:23] #177 closed

[2020-05-08 15:32] PrimozGodec commented on #178
Hi. Sorry for the late reply. If I understand correctly you would like a widget that would visualize images such that images with similar colors would be close together? So some kind of image grid widget (already existing) but that features would not be embeddings but colors. Do I understand right?

[2020-05-09 01:35] redraw commented on #178
Right, instead of embeddings, color/pixels data. Maybe it can be composed by several widgets.

[2020-05-19 21:34] jsender321 opened #183 "Inception v3 internet connection"
##### Image Analytics version

0.5.1

##### Orange version

3.25.0

##### Expected behavior
Process image embedding through Inception v3

##### Actual behavior
Image embedding widget continuously spins at 0% for approximately 10 minutes, then a warning appears saying "No internet connection: switched to local embedder".  Verified that internet connection is stable and is not behind a proxy.

#####

[2020-05-20 06:41] PrimozGodec commented on #183
Thank you for submitting the issue.
I just taste inception and it works for me. Are you behind the firewall or proxy?
Does it only happens with the inception or is the same problem with other embedders?

[2020-05-20 13:10] jsender321 commented on #183
Thanks for the prompt reply.

My internet connection is not behind a proxy.  For the sake of being thorough, I have also tried completely disabling the firewall entirely, rather than just allowing individual application access through the firewall.  Still, no success.

The issue persists when using the Inception v3 and openface embedders.  All other embedders operate as they should.

[2020-05-21 09:46] PrimozGodec commented on #183
Thank you for the additional information. Can you just let me know what operating system do you use?

[2020-05-21 12:25] jsender321 commented on #183
![image](https://user-images.githubusercontent.com/33093418/82558877-dfde2c80-9b2b-11ea-8298-73c948488fa5.png)

[2020-08-12 18:48] raybg opened #186 "Image Embedding - Not visible"
##### Image Analytics version

##### Orange version

##### Expected behavior
Image Embedding should appear as shown in the youtube tutorials

##### Actual behavior
It is missing in my orange version 3.23.1 version.

##### Steps to reproduce the behavior

##### Additional info (worksheets, data, screenshots, ...)

[2020-08-12 18:58] raybg commented on #87
I am still getting this issue in 3.23.1 Orange Version and Image Analytics - 0.5.3.
Since the issue was reported 2 yrs back, i hope it should run just fine along with a simple add-on. Using it via Anaconda Navigator

[2020-08-13 06:29] ajdapretnar commented on #87
Orange is now in version 3.27. Also, did you follow the instructions for installing on Anaconda? https://orange.biolab.si/download/#windows

[2020-08-13 06:30] ajdapretnar commented on #186
Please fill out the issue template. We cannot help you without specifying relevant information.

[2020-08-17 08:07] PrimozGodec commented on #186
What is the version of Image Analytics you have installed? If it is not the newest have you tried to upgrade it?

[2020-09-30 12:39] PrimozGodec commented on #186
I am closing this PR due to inactivity. If the issue reappears please feel free to reopen the PR.

[2020-09-30 12:39] #186 closed

[2021-01-20 20:20] ajdapretnar opened #191 "Image Embedding: cannot select variable if image not defined"
##### Image Analytics version

0.5.3

##### Orange version

3.27.1

##### Expected behavior
One can select any meta attribute (categorical, too?) from the dropdown in Image Embedding.

##### Actual behavior
Can only select attributes with pre-defined type=image. One has to know to use Edit Domain for it.

##### Steps to reproduce the behavior
Load [zoo-with-images](http://file.biolab.si/datasets/z

[2021-02-11 17:25] IKetchup opened #192 "Image Embedding: Image are skipped"
When I load my images (dataset of images of stain glasses) and I choose an Embedder other than SqueezeNet the widget return a warning saying my images are skiped

##### Image Analytics version
0.5.3

##### Orange version
3.27.1

##### Expected behavior
Return Embedding of the images

##### Actual behavior
Return nothing and print the warning "x images are skipped"

##### Steps to reproduce the beh

[2021-02-12 10:01] PrimozGodec commented on #192
Thank you for submitting the issue. I cannot reproduce that on my computer and my set of images. Does it happen on any dataset of images you use or just on this particular dataset?

The other reason might be a proxy. Is your internet connection behind a proxy or a firewall.

[2021-02-12 15:41] IKetchup commented on #192
This also happen with different dataset. When I change the image extension (pjp to png) images are skipped in the widget "Import Images". However with another data set of png images it's work fine.

Is there a reason (format, size, weight..) that would skip the image?

Internet connection seen to not be the problem

[2021-02-16 11:40] PrimozGodec commented on #192
@IKetchup I think I have found the reason for the error. It was a bug which we already solved in https://github.com/biolab/orange3-imageanalytics/pull/189, but we forgot to make a release after. Sorry for causing you problems.

Can you upgrade the version of the orange3-imageanalytics addon to 0.6.0 (you can upgrade in the addon dialog: options>add-ons)? Please let us know if it solves your issue.

[2021-02-16 15:59] IKetchup commented on #192
Its working well thanks

[2021-02-16 15:59] #192 closed

[2021-02-18 23:48] irgolic opened #193 "Widget UI changes following new orange-widget-base release"
Following the merge and release of https://github.com/biolab/orange-widget-base/pull/130, widgets will look a bit different. All widgets should be checked and adjusted.

See https://github.com/biolab/orange-widget-base/wiki/Widget-UI

[2021-04-23 13:33] ajdapretnar opened #195 "Image Viewer crashes"
##### Image Analytics version

0.6.0

##### Orange version

3.29.dev

##### Expected behavior
No crash.

##### Actual behavior
[code]

##### Steps to reproduce the behavior
I think it happens when the image URL is wrong and the widget still tries to download images from the internet, but the widget is then deleted.

##### Additional info (worksheets, data, screenshots, ...)

[2021-05-23 15:34] opengeostat opened #196 "Add better documentation to work on python scripts"
There is no documentation on how to use imageanalytics from a python script, for example, from a Jupyter Notebook. Please add simple examples like the one below to the documentation:

[code]

[2021-05-28 08:51] PrimozGodec commented on #196
Thank you. Will create simple documentation for `image_embedder` module

[2021-06-12 15:55] Sai-Sireesha-Nidiginti opened #197 "Image embedding gives type error for .png"

[2021-06-19 10:12] Luk164 opened #198 "Orange freezes when a large image dataset is connected to image viewer"
##### Image Analytics version
0.6.0

##### Orange version
3.29.3

##### Expected behavior
Adding Image Viewer and connecting it to a large dataset should start loading it up (with progress and everything)

##### Actual behavior
The UI freezes, probably because of work on the UI thread.

##### Steps to reproduce the behavior
1. Load a large set of images (I loaded about 20k)
2. Add Image Viewer
3.

[2021-09-22 14:10] #198 closed

[2021-09-26 18:01] ThirstyGeo opened #202 "Image attributes lost?"
##### Image Analytics version

 v 0.6.0

##### Orange version

v 3.30.1

##### Expected behavior

Passing images to Image Grid widget should load images (?)

##### Actual behavior

'image name' attribute loses 'type=image'

![image](https://user-images.githubusercontent.com/17868615/134818857-7935ed50-7481-4b1b-81c2-bdec2bbdb4f4.png)

[2021-09-27 09:28] ales-erjavec commented on #202
The error message is wrong/confusing. You have to select "image" from the *Image Filename Attribute* drop down and not "image name".

[2022-02-03 12:14] #173 closed

[2022-02-03 14:19] #202 closed

[2022-02-03 14:19] #197 closed

[2022-02-03 15:08] #196 closed

[2022-02-04 10:09] PrimozGodec commented on #183
Closing due to inactivity (also I cannot reproduce). Btw, we switched to the new backend lately so now maybe it works. Feel free to reopen if still appears.

[2022-02-04 10:09] #183 closed

[2022-02-04 10:27] PrimozGodec commented on #195
This error seems very strange (it looks like the output node is not in the dictionary); I am not sure if it has anything to do with data (or missing image). @ajda, can you reproduce it? I cannot come up with the reason for it. Maybe @ales-erjavec has any idea?

[2022-02-04 10:28] #193 closed

[2022-02-07 07:53] ajdapretnar commented on #195
No, I cannot anymore. I will close it for now.

[2022-02-07 07:53] #195 closed

[2022-02-17 14:03] pynomaly opened #209 "SSL error while fetching images from url"
##### Image Analytics version

0.7.0

##### Orange version

3.31.1

##### Expected behavior
Image viewer shows images from urls

##### Actual behavior
Image viewer not showing images, raising error "SSL handshake failed".

##### Steps to reproduce the behavior
Open orange
Open file with image column and image attribute
Connect with Image viewer

##### Additional info (worksheets, data, screenshots

[2022-02-17 14:44] pynomaly commented on #209
The url was: https://upload.wikimedia.org/wikipedia/commons/5/54/Beaver-Szmurlo.jpg

But I've found a bug with qtbase in ubuntu 22.04:
https://bugs.launchpad.net/ubuntu/+source/qtbase-opensource-src/+bug/1952977

This installation of orange is new, in my new computer. Orange works fine in my old computer with ubuntu 18.04.

[2022-02-17 16:58] pynomaly commented on #209
I went back to ubuntu 20.04 and everything works perfectly. It's a problem with ubuntu 22.04.

[2022-02-17 16:58] #209 closed, assigned to nobody

[2022-06-05 17:07] jsmazapad opened #212 "Info about remote server used to get embedding"
Hi, I´m a student interested in the server used for getting features vectors from embedding models (api.garaza.io) to use in my Ending Master Work. I didn´t found any documentation on the net. Where can I find it?

Thanks in advance

##### Image Analytics version

##### Orange version

##### Expected behavior

##### Actual behavior

##### Steps to reproduce the behavior

##### Additional info (wor

[2022-06-06 06:36] ajdapretnar commented on #212
Do you mean server documentation? This is our private server used exclusively for Orange functionalities. It doesn't and it won't come with any documentation.
If you are interested in Image Embedding documentation, it is here: https://orangedatamining.com/widget-catalog/image-analytics/imageembedding/

[2022-06-06 06:36] #212 closed

[2022-10-05 17:20] jvmf1 opened #214 "Add support for loading image from RGB/BGR matrix"
Example:
[code]

[2022-10-28 09:09] #178 closed

[2022-10-28 09:13] janezd opened #216 "Default directory for Image Viewer"
##### Image Analytics version / Orange version

N/A

##### Expected behavior

Image Viewer should be able to show images from some given directory that could be set in the widget. The column with the widget name would contain only the file name or relative directory.

##### Actual behavior

Image Viewer works for absolute paths. For file names only, or for relative paths, one must (manually) run O